@page
@model Invoices.UI.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Products Page";
}

<h3 style="float:right">Products</h3>
<br />
<br />
<p style="float:right">
    <a asp-page="Create">Create New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Title
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
